/* Hot Products */
#hot-products {
    .grid .grid-item {
        margin-right: 1.2rem;
        margin-top: 1rem;
    }

    .grid .item .product a {
        overflow: hidden;
    }
    
    .grid .item .product img {
        transition: transform 0.5s ease;
    }
    
    .grid .item .product img:hover {
        transform: scale(1.05);
    }
}